
/* Extra CSS overrides go here */

/* JDR: Fix permalink size (hack) */
.mathbook-content section header .heading a.permalink {
  font-size: 11.2px;
  line-height: 22.8571px;
}

/* Overrides the overrides in mathbook-add-on.css */
body, html body {
    background: #545454;
}

#masthead.smallbuttons {
    max-width: 664px;
    border-right: none;
    border-left: none;
    /* border-right: 1px solid #bababa; */
    /* border-left: 1px solid #bababa; */
}

.mininav {
    float: none;
    padding-top: 0px;
    overflow: hidden; /* Force baseline = bottom margin */
    display:table-cell;
    vertical-align: middle;
}
.indexnav {
    float: none;
    display:table-cell;
    overflow: hidden;  /* Force baseline = bottom margin */
    margin-top: 0px;
    padding-left: .5em;
    height: 90%;
    vertical-align: middle;
}

#toc h2 + h2 {
    margin-top: 0px;
}

article.theorem-like, article.objectives {
    border-left: 2px solid #eeb211;
}
article.theorem-like:after, article.objectives:after {
    border-bottom: 2px solid #eeb211;
}
article.example-like {
    border-left: 2px solid #eeb211;
}
article.example-like:after {
    border-bottom: 2px solid #eeb211;
}
article.definition-like {
    border-left: 2px solid #eeb211;
}
article.definition-like:after {
    border-bottom: 2px solid #eeb211;
}
article.remark-like {
    border-left: 2px solid #eeb211;
}
article.remark-like:after {
    border-bottom: 2px solid #eeb211;
}
.paragraphs.remark-like {
    border-left: 2px solid #eeb211;
}
.paragraphs.remark-like:after {
    border-bottom: 2px solid #eeb211;
}


.mathbook-content .hidden-knowl-wrapper > a[knowl] > article:after {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateX(-7px) translateY(-3px) rotate(45deg);
  -webkit-transform: translateX(-7px) translateY(-3px) rotate(45deg);
  margin-bottom: 2px;
  margin-left: .5em;
}

.mathbook-content .hidden-knowl-wrapper > a[knowl].active > article:after {
  transform: translateX(-7px) translateY(0px) rotate(225deg);
  -webkit-transform: translateX(-7px) translateY(0px) rotate(225deg);
}

.mathbook-content .hidden-knowl-wrapper > a[knowl] .heading {
  background: none;
}

.mathbook-content .mathbox {
  overflow: hidden;
}
.mathbook-content .mathbox:hover {
  overflow: visible;
}

.mathbook-content .mathbox iframe {
  width:       100vw;
  position:    relative;
  margin-left: -50vw;
  left:        50%;
  height: 100%;
  border-style: none;
}

body, html body {
  overflow-x: hidden;
}

.mathbook-content .mathbox-link {
  text-align: center;
}

.mathbook-content article.paragraphs .hidden-knowl-wrapper {
  display: block;
  margin-bottom: 1em;
}

/* Hide numbers of subsections */
.mathbook-content .subsection > header > .heading > .codenumber {
  display: none;
}

.mathbook-content .solution > .type {
  font-weight: bold;
}

.mathbook-content .paragraphs.bluebox {
  padding: 1em;
  /*padding-bottom: 0;*/
  border: 3px solid #aaaaff;
  border-radius: 8px;
  margin-bottom: 1.25em;
}

